---
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Veterinaria</title>
    <link rel="stylesheet" href={`${import.meta.env.BASE_URL}styles.css`} />
  </head>

  <body>
    <header>
      <a class="logo" href={import.meta.env.BASE_URL}>Veterinaria [Nombre]</a>

      <nav>
        <a href={import.meta.env.BASE_URL}>Inicio</a>
        <a href={`${import.meta.env.BASE_URL}nosotros`}>Nosotros</a>
        <a href={`${import.meta.env.BASE_URL}servicios`}>Servicios</a>
        <a href={`${import.meta.env.BASE_URL}productos`}>Productos</a>
        <a href={`${import.meta.env.BASE_URL}contacto`}>Contacto</a>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <p>© 2026 Veterinaria [Nombre]</p>
    </footer>
  </body>
</html>